body {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

#header {
    width: 99%;
    background: rgba(0, 0, 0, 0.8);
    /* position: fixed;
    top: 0; */
    padding: 0.5%;
    display: flex;
    align-items: center;
    justify-content: center;

}



#header a {
    color: white;
    text-decoration: none;
    padding: 0% 0% 0% 4%;
    font-size: small;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.4px;
    color: #f5f5f7;

}

#icon_header {
    padding-left: 0px;
}

#image_ipad {

    width: 75%;


}

#container {
    padding-top: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

#container div p span {
    font-weight: bold;
    font-size: 50px;

}


#container div p {

    font-size: 25px;

}

#container_text_1st_page {
    transform: translate(-60%, -45%);
}

.film img {
    transform: translateY(25%);

}

.film {
    text-decoration: none;
    color: royalblue;
    font-weight: bold;
}

.film:hover {
    text-decoration: underline;
}

.overlay {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: white;
    transition: opacity .4s;
    visibility: hidden;
    opacity: 0;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
}

#cross {
    position: absolute;
    top: 1rem;
    right: 1.5rem;
    font-size: 2rem;
    font-weight: bold;
    text-decoration: none;
}

#popup {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup div video {
    border-radius: 10px;
}

nav {
    max-width: 1000px;
    margin: 0px auto 0 auto;


}

nav {
    background-color: rgba(27, 255, 255, 0.1);
    width: 100%;

}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    list-style-type: none;
    margin: 0;
}

nav div h2 {
    margin: 0px;
    padding-right: 50px;
}


nav ul li:first-child {
    margin-right: auto;
}

nav ul li a {
    text-decoration: none;
}


nav.Sticky {
    position: fixed;
    top: 0;
    left: 0;
    max-width: 1000px;
    margin: 0px auto 0 auto;
}

nav.Sticky ul {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1000px;
    margin: 0px auto 0 auto;

}

.iphone14_frontpage {
    background-color: black;

    /* text-align: center; */
}

.iphone14_frontpage a {
    text-decoration: none;
}

.iphone14_frontpage p {
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    margin-top: 0px;
    text-align: center;
}

#nomiphone14 {
    color: white;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    padding-top: 5%;
    margin-bottom: 0px;
    font-size: 50px;
}

#iphone14Pro_container img {

    height: 43%;
    width: 43%;
}

#iphone14Pro_container {
    text-align: center;
}


#link_iphone14pro_frontpage {
    text-align: center;
    padding-bottom: 1%;
}

#link_iphone14pro_frontpage a:nth-child(2) {
    padding: 1% 1% 0% 0%;
}

#link_iphone14pro_frontpage a img {
    transform: translateY(30%);
}

#link_iphone14pro_frontpage a {
    color: royalblue;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

#link_iphone14pro_frontpage a:hover {
    text-decoration: underline;
}

#account_icone {
    border: white solid 1.5px;
    border-radius: 50%;
}